<div id="foot">
    <a class="black" href="https://github.com/WLinYu"><i class="fa fa-github fa-lg dist"></i></a>
    <a class="red" href="http://weibo.com/3313110087/profile?topnav=1&wvr=6&is_all=1"><i class="fa fa-weibo fa-lg"></i></a>
    <p><i class="fa fa-copyright"></i>2016&nbsp;&nbsp;express3-handlebars&nbsp;&nbsp;脚手架</p>
</div>
