<nav id="nav">
  <a href="/"><img id="img" src="/img/logo.jpg" /></a>
  <div id="art">
    <p><a class='btn' href="/home">Archive</a></p>
    <dt>留给关于记忆的我...</dt>
      <dd>那些七零八碎的片段,都在时间里面消融</dd>
    <dt>世界很大,轮子得慢慢造...</dt>
      <dd>不断前进的我,让自己变更好的自己</dd>
  </div>
</nav>
